

  .button-icon-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icon-top {
    margin-bottom: 5px; /* Espacio entre el icono y el texto */
  }


  .text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
