<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú Microfrontend</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button *ngFor="let mf of microfrontends" (click)="changeApp(mf.id)" color="warning">
        {{ mf.name }}
      </ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page section" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ng-container *ngFor="let mf of microfrontends">
      <iframe #miFrame [src]="(paginaActual && clickApp === 0 ? paginaActual : mf.url) | safeHtml" [style]="mf.classStyle" *ngIf="mf.id === selectedApp" allow="fullscreen"></iframe>
    </ng-container>
  </ion-content>
</div>